<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="app/admin/sharedResources/images/profile_small.jpg" />
                             </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="profile.html">Profile</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="mailbox.html">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li class="active">
        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span></a>
      </li>

      <li>
        <a><i class="fa fa-user"></i> <span class="nav-label">User Management</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="graph_flot.html" [routerLink]="['/admin/users']">List Users</a></li>
          <li><a href="graph_morris.html" [routerLink]="['/admin/users/new']">Add Users</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-product-hunt"></i> <span class="nav-label">Product Management</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="graph_flot.html" [routerLink]="['/admin/users']">List Products</a></li>
          <li><a href="graph_morris.html" [routerLink]="['/admin/users/new']">Add Products</a></li>
        </ul>
      </li>
      <li class="landing_link">
        <a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
      </li>
      <li class="special_link">
        <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
      </li>
    </ul>

  </div>
</nav>
