<div class="users">
    <div aria-flowto="<left></left>">
        <h2>Users list</h2>
        <button class="addBtn" md-fab [routerLink]="['/users/new']"> <md-icon>add</md-icon></button>
        <br>
    </div>
    <md-input-container>
        <input mdInput type="search" [(ngModel)]='listUserFilter' [formControl]="userControl" placeholder="search...">
    </md-input-container>
    <md-card *ngFor="let user of users | async | usersFilter:listUserFilter">
        <md-list>
            <md-list-item>
                <a md-line [routerLink]="['/users/user-detail', user._id]"> {{user.name}} </a>
                <p md-line>
                    <span>{{user.email}}</span>
                </p>
                <span><button md-button (click)='deleteUser(user._id)'><md-icon>delete</md-icon></button></span>
                <span><button md-button [routerLink]="['/users/edit', user._id]"><md-icon>edit</md-icon></button></span>
            </md-list-item>
        </md-list>
    </md-card>
</div>
