<div class="userDetail">
    <h5>Add new User:</h5>
    <form [formGroup]="form" (ngSubmit)="save()">
        <md-input-container>
            <input mdInput formControlName="name" placeholder="Name">
            <md-error>This field is required</md-error>
        </md-input-container><br>
        <md-input-container>
          <input mdInput formControlName="email" placeholder="Email Address">
          <md-error>This field is required</md-error>
        </md-input-container>
        <button md-raised-button type="submit">Save</button>
    </form>
</div>
