<div id="wrapper">
    <app-sidebar-menu></app-sidebar-menu>
    <div id="page-wrapper" class="gray-bg">
        <app-admin-header></app-admin-header>
        <router-outlet></router-outlet>
    </div>
</div>
