<div class="user">
    <h2>{{pageTitle}}</h2>
    <div *ngIf="user">
        <md-card>
            <md-card-header>
                <md-card-title class="name">{{user.name }}</md-card-title>
            </md-card-header>
            <md-card-content>
                <p>{{user.email}}</p>
            </md-card-content>
        </md-card>
    </div>

</div>
