<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/app/admin/sharedResources/style/bootstrap.css" rel="stylesheet">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
  <% } %>
</head>

<body>

  <app>
    Loading...
  </app>

  <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
  <script>
    (function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=r;A[l]=A[l]||function(){
    (A[l].q=A[l].q||[]).push(arguments)},A[l].l=1*new Date();a=n.createElement(g),
    r=n.getElementsByTagName(g)[0];a.async=1;a.src=u;r.parentNode.insertBefore(a,r)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71073175-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- Mainly scripts -->
  <script src="app/admin/sharedResources/js/jquery-3.1.1.min.js"></script>
  <script src="app/admin/sharedResources/js/bootstrap.min.js"></script>
  <script src="app/admin/sharedResources/js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="app/admin/sharedResources/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <!-- Flot -->
  <script src="app/admin/sharedResources/js/plugins/flot/jquery.flot.js"></script>
  <script src="app/admin/sharedResources/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
  <script src="app/admin/sharedResources/js/plugins/flot/jquery.flot.spline.js"></script>
  <script src="app/admin/sharedResources/js/plugins/flot/jquery.flot.resize.js"></script>
  <script src="app/admin/sharedResources/js/plugins/flot/jquery.flot.pie.js"></script>
  <script src="app/admin/sharedResources/js/plugins/flot/jquery.flot.symbol.js"></script>
  <script src="app/admin/sharedResources/js/plugins/flot/jquery.flot.time.js"></script>

  <!-- Peity -->
  <script src="app/admin/sharedResources/js/plugins/peity/jquery.peity.min.js"></script>

  <!-- Custom and plugin javascript -->
  <script src="app/admin/sharedResources/js/inspinia.js"></script>
  <script src="app/admin/sharedResources/js/plugins/pace/pace.min.js"></script>

  <!-- jQuery UI -->
  <script src="app/admin/sharedResources/js/plugins/jquery-ui/jquery-ui.min.js"></script>

  <!-- Jvectormap -->
  <script src="app/admin/sharedResources/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="app/admin/sharedResources/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

  <!-- EayPIE -->
  <script src="app/admin/sharedResources/js/plugins/easypiechart/jquery.easypiechart.js"></script>

  <!-- Sparkline -->
  <script src="app/admin/sharedResources/js/plugins/sparkline/jquery.sparkline.min.js"></script>


</body>
</html>
